<%= render "navbar" %>

<div class="container">
  <h1>All our Flats (<%= @flats.count %>)</h1>

  <% @flats.each do |flat| %>
    <p><%= flat.name %></p>
    <p><%= flat.address %></p>
    <%= link_to 'details', flat_path(flat) %>
  <% end %>
</div>
